<!DOCTYPE html>
<html>
<head>
	<title>DBCloomio</title>
</head>
<body>
	<h1>Decide It Page </h1>
		<div id = "new-tech">
			<h3>New Technologies Used: </h3>
			<img src= "https://scontent.xx.fbcdn.net/hphotos-xtp1/v/t1.0-9/12074908_10153705789865879_8455323709081978228_n.jpg?oh=ad461ef5f6b071c4acf0c5dea5fca92a&oe=5688680F" /> 
		</div>
</body>
</html>