<!DOCTYPE html>
<html>
<head>
	<title>Decide.it</title>
</head>
<body>
	<h1 class='text-center'><img src="https://photos-6.dropbox.com/t/2/AACJRAQRc71G7gCIrRStGNqtn8ynU3fQsOWB4yGL6oLx7w/12/327016807/png/32x32/1/_/1/2/decideit_bigger_logo.png/EIbOxMQCGAMgBygH/BqyHdHAWJ_qm95lUQrdtdJzKkex1qpr7tNpSmnqpj0Q?size_mode=5"/></h1>
	<div id = "new-tech" class='text-center'>
		<h3>New Technologies Used: </h3>
		<img src= "https://scontent.xx.fbcdn.net/hphotos-xtp1/v/t1.0-9/12074908_10153705789865879_8455323709081978228_n.jpg?oh=ad461ef5f6b071c4acf0c5dea5fca92a&oe=5688680F" />
	</div>
  <div class='col-md-2'>
  </div>

  <div id="decideit-features" class='col-md-8 text-center'>
    <h3> Walkthrough of Decide.it Features </h3><br>
  <iframe width="800" height="500" src="https://www.youtube.com/embed/hQpsESOLN74" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class='col-md-2'>
  </div>
</body>
</html>