<!DOCTYPE html>
<html>
<head>
	<title>Decide.it</title>
</head>
<body>
	<h1 class='text-center'><%= image_tag "decideit_bigger_logo.png" %></h1>
	<div id = "new-tech" class='text-center'>
		<h3>New Technologies Used: </h3>
		<img src= "https://scontent.xx.fbcdn.net/hphotos-xtp1/v/t1.0-9/12074908_10153705789865879_8455323709081978228_n.jpg?oh=ad461ef5f6b071c4acf0c5dea5fca92a&oe=5688680F" />
	</div>
  <div class='col-md-2'>
  </div>
  <div class='col-md-8 text-center'>
    <h3> Walkthrough of Decide.it Features </h3>
  <iframe width="800" height="400" src="https://www.youtube.com/embed/hQpsESOLN74" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class='col-md-2'>
  </div>
</body>
</html>