<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Round About - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/round-about.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Page Content -->
    <div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Us
                    <small>It's Nice to Meet You!</small>
                </h1>
                <p>Our team consists of four ambitious, quirky and industrious Dev Boot Camp graduates who decided to take the plunge into an unfamiliar code base.</p>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://scontent.xx.fbcdn.net/hphotos-xat1/v/t1.0-9/12088237_10153705799700879_3708432018480052666_n.jpg?oh=227b3b4a47a1e19db99ae3fd74ef0bd8&oe=56939C1C" alt="">
                <h3>Julia Graber
                    <small>Cheif Code Wrangler</small>
                </h3>
                <p>graber.jay@gmail.com </p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://scontent.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/12108052_10153705799410879_7869398198176115546_n.jpg?oh=fa20d092c286d991ac02d110ddcd3a77&oe=56D209AA" alt="">
                <h3>Amrita Athwal
                    <small>User Experience Unicorn</small>
                </h3>
                <p>aathwal3@gmail.com</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://scontent.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/11222282_10153705797725879_8607477776295669637_n.jpg?oh=82f8cde9909c300c96b6b657d12f3a01&oe=568C00B4" alt="">
                <h3>Ben Hsieh
                    <small>D3 Dragon Fighter</small>
                </h3>
                <p>ben.t.hsieh@gmail.com </p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://scontent.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/10639360_10208352679122462_1399275523145160809_n.jpg?oh=5777b6e49302ce4172c5034e05779439&oe=5691153B" alt="">
                <h3>Tracey Carter
                    <small>Permissions Pirate</small>
                </h3>
                <p>traceycarterdbc@gmail.com <i class="icon-search icon-large icon-white"> icon-github</i>
</p>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; DBCLoomio 2015</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
