<!DOCTYPE html>
<html>
<head>
	<title>Loomio</title>
</head>
<body>
	<h1>A walk through our contributions to the Loomio codebase:</h1>
	<div id= "looomio-screencast">
		<iframe width="1000px" height="500px" src="https://www.youtube.com/embed/FXXAG1FvHp4" frameborder="0" allowfullscreen></iframe>
	</div>
        <!-- Footer -->
  <footer>
      <div class="row">
          <div class="col-lg-12">
              <p>Copyright &copy; DBCLoomio 2015</p>
          </div>
          <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
  </footer>
</body>
</html>