<!DOCTYPE html>
<html>
<head>
	<title>Loomio</title>
</head>
<body>
	<h3 class="text-center">Walkthrough of contributions to the Loomio codebase:</h3>
	<div id= "looomio-screencast" class="text-center">
		<iframe width="800px" height="400px" src="https://www.youtube.com/embed/FXXAG1FvHp4" frameborder="0" allowfullscreen></iframe>
	</div>

</body>
</html>