<!DOCTYPE html>
<html>
<head>
	<title>Our Story</title>
</head>
<body>
	<div class="story-container">
		<h1> Our Story </h1>
			<p>
			DBCLoomio was born on day 1 of final projects week when our team – Julia, Ben, Amrita, and Tracey – realized that the basic functionality of a CRUD app would take up the entire week, preventing us from focusing on data visualization technology and other more advanced aspects of working in large code bases. Julia, our team lead, had the idea of making an app similar to Loomio that would help groups make efficient decisions. After discussing how to incorporate our desire to learn data visualization technology, we concluded that we would integrate D3 technology into Loomio’s existing functionality, allowing users to see images of the voting process through data visualization.
			</p>
			<p> 
			We customized Loomio so that organizations can not only make more efficient decisions, but also track member participation. To track who made what decisions, the team added demographic data to the user profiles. It is now possible to view graphic representations of how members participated in each discussion topic, displayed by gender, age, and race.
			</p>
			<p>
			With these data visualizations, DBC (and other organizations) will be able to measure participation in the decision-making process by the demographics of the organization. For example, you can quickly identify aggregations of voters around any given discussion by gender, race, and age. Having this information in a clear and measurable format gives DBC a tool to increase diversity as well as make sure that member participation in the organization and its key decisions is shared equally among the many groups represented in our community. 
			</p>
			<p>
			The most difficult aspect of the project was learning how to navigate and make changes in an enormous legacy codebase. We spent most of our time trying to understand what became known as “the Loch Ness,” Loomio’s huge, decoupled code base, which has been running migrations for five years. Virtually any small change resulted in hours of errors, and debugging required complex backtracking. Ultimately, we became familiar enough with the code base to not only add our own features, but to also contribute to Loomio’s open source issues posted on Github. Once we got in touch with Loomio’s developers, Julia and Ben followed up on some of their suggestions and built out a feature that ties Slack notifications to new votes in Loomio. A pull request is currently open and will likely be accepted soon, based on current communications. 
			</p>
			<p>
			To top it all off, our team also received an email from a developer bootcamp in France letting us know that they used our Loomio pull request as an example to their students of how to submit pull requests and contribute to open source code on Github as junior developers. 
			</p>
			<p>
			Overall, it was a week well spent. We gained an appreciation for the scale of real-world projects, and made an investment in learning an open source codebase that will allow us to contribute to a wider community of developers for years to come.
			</p>
		</div>

</body>

</html>
